COHERE_API_KEY=""
# MongoDB Atlas Connection
MONGO_URI="mongodb+srv://<username>:<password>@cluster0.jklca.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"
MONGO_DATABASE_NAME="ipo_bot_db"
MONGO_COLLECTION_NAME="ipo_status"

# Google Calendar API (assuming you have set up credentials.json)
CALENDAR_ID=""

# HDFC Netbanking Details
HDFC_USER=""
HDFC_PASSWORD=""

# Demat Account Details
ZERODHA_DP_NO=""
DP_NAME=""

# Date of Birth for Demat Account (DD/MM/YYYY)
DOB=""
